article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Custom AOS anim */
[data-aos=rotateY-left] {
    transform: perspective(1500px) rotateY(45deg) rotateX(5deg);

    transition-property: transform;
    &.aos-animate {
        transform: perspective(1500px) rotateY(0) rotateX(0);
    }
}

[data-aos=rotateY-right] {
    transform: perspective(1500px) rotateY(-45deg) rotateX(5deg);

    transition-property: transform;
    &.aos-animate {
        transform: perspective(1500px) rotateY(0) rotateX(0);
    }
}

[data-aos=rotateXYRight] {
    transform: perspective(800px) rotateY(25deg) translateY(0) scale(0.9) rotateX(10deg);
    opacity: 0.5;

    transition-property: transform, opacity;
    
    &.aos-animate {
        transform: perspective(800px) rotateY(-15deg) translateY(0) rotateX(10deg) scale(1);
        opacity: 1;
    }
}

[data-aos=rotateXYLeft] {
    transform: perspective(800px) rotateY(-25deg) translateY(0) scale(0.9) rotateX(10deg);
    opacity: 0.5;

    transition-property: transform, opacity;
    
    &.aos-animate {
        transform: perspective(800px) rotateY(15deg) translateY(0) rotateX(10deg) scale(1);
        opacity: 1;
    }
}