@font-face {
    font-family: Cookie;
    src: url(../fonts/Cookie-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Folio;
    src: url(../fonts/FOLIOXB.ttf);
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: Folio;
    src: url(../fonts/FOLIOB.ttf);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Folio;
    src: url(../fonts/Folio-Medium.ttf);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Folio;
    src: url(../fonts/FOLION.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Folio;
    src: url(../fonts/FOLIOL.ttf);
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Folio;
    src: url(../fonts/FOLIOLI.ttf);
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* HEADER Nav */
header .current-menu-item.current_page_item{
    @apply text-indian-red;
}

header .menu-item a {
    @apply underline lg:no-underline;
}

header .menu-item > .sub-menu{
    @apply lg:hidden lg:absolute lg:top-full lg:flex-col lg:items-start lg:gap-4 lg:bg-desert-sand lg:w-max lg:-ml-8 lg:p-4;
}

header .menu-item:hover > .sub-menu{
    @apply lg:flex;
}

header .menu-item > .sub-menu .menu-item{
    @apply text-gray-900 hover:text-indian-red flex flex-col lg:items-start;
}

header .menu-item > .sub-menu .menu-item a{
    @apply no-underline;
}

header .menu-item > .sub-menu .menu-item a::before{
    content: '-';
    @apply inline-block mr-2;
}

header .menu-item > .sub-menu .menu-item > .sub-menu{
    @apply lg:block lg:relative lg:top-0 lg:p-0 lg:ml-4;
}

header .menu-item > .sub-menu .menu-item > .sub-menu .menu-item{
    @apply m-0;
}


/* CONTACT Map */
#map.map-scroll:before {
    content: 'Utilisez ctrl + molette pour zoomer sur la carte';
    color: var(--black);
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 449;
    font-size: 2em;
    font-weight: 700;
}
#map.map-scroll:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    content: '';
    background: #00000061;
    z-index: 449;
}
.gmap-icon{
    background: url(../img/icons/google-maps.svg) no-repeat center center;
    height: 1em;
    width: 1em;
    @apply inline-block bg-cover;
}

/* WOOCOMMERCE BREADCRUMB */
.woocommerce .woocommerce-breadcrumb, .woocommerce .woocommerce-breadcrumb a{
    @apply text-indian-red;
}

/* WOOCOMMERCE PRODUCT PAGE */
.woocommerce button.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
    @apply !font-medium !uppercase !px-4 !py-2 !rounded-full !shadow-lg !bg-indian-red hover:!bg-desert-sand !text-white hover:!text-gray-900 transition-colors duration-300;
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled]{
    @apply !bg-indian-red hover:!bg-desert-sand !text-white hover:!text-gray-900 transition-colors duration-300;
}

.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
    @apply bg-indian-red;
}

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
    @apply bg-camel p-4 sm:p-8 md:p-4 lg:p-8 rounded-xl text-white;
}

.woocommerce div.product .product_title, .woocommerce div.product strong{
    @apply text-white;
}

.woocommerce div.product form.cart .variations th{
    @apply font-normal text-base;
}

.woocommerce .quantity .qty, .woocommerce div.product input, .woocommerce div.product select{
    @apply border-2 border-white bg-camel rounded-xl text-white text-center;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
    @apply font-medium text-white m-0;
}

.wc-bookings-booking-form, .wc-bookings-booking-form fieldset{
    @apply m-0 p-0 border-0 leading-normal;
}

.wc-bookings-date-picker .ui-datepicker-header{
    @apply bg-none bg-indian-red border-t-0;
}

.wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-next{
    @apply bg-transparent;
}

.wc-bookings-date-picker .ui-datepicker .ui-datepicker-prev.ui-state-hover, .wc-bookings-date-picker .ui-datepicker .ui-datepicker-next.ui-state-hover{
    @apply bg-transparent;
}

.wc-bookings-date-picker .ui-datepicker td{
    @apply border-none;
}

.wc-bookings-date-picker .ui-datepicker td.bookable a, .wc-bookings-date-picker .ui-datepicker td.bookable-range .ui-state-default{
    @apply !bg-indian-red;
}

.woocommerce div.product form.cart table{
    @apply border-none;
}

.wc-bookings-booking-form .block-picker select{
    @apply text-gray-900 rounded-sm;
}

.wc-bookings-booking-form .wc-bookings-booking-cost{
    @apply bg-transparent border-none;
}

.wc-bookings-booking-form .wc-bookings-booking-cost strong{
    @apply text-white;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce table.shop_attributes th{
    @apply font-medium !text-gray-900;
}

.woocommerce div.product .stock{
    @apply text-gray-900;
}

/* WOOCOMMERCE CATEGORY PAGE */
.woocommerce .woocommerce-ordering{
    @apply flex rounded-full border-2 border-desert-sand px-2 py-1;
}

.woocommerce a.added_to_cart{
    @apply rounded-full border-2 border-desert-sand px-2 py-0 my-1 ml-1;
}

.woocommerce .products ul, .woocommerce ul.products{
    @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4;
}

.woocommerce .products ul, .woocommerce ul.products::before, .woocommerce .products ul, .woocommerce ul.products::after{
    content: none;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    @apply !w-full !float-none !m-0 !p-0;
}

/* WOOCOMMERCE PANIER */
.woocommerce table.shop_table th, .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before, .woocommerce-cart .cart-collaterals .cart_totals tr th{
    @apply !font-medium !text-sm md:!text-lg;
}

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text{
    @apply w-1/3 min-w-min;
}

/* WOOCOMMERCE CHECKOUT */
.woocommerce .woocommerce-checkout .woocommerce-checkout-payment label img{
    @apply inline-block;
}

/* Contact Form 7 */
.wpcf7-form{
    @apply bg-indian-red text-white lg:max-w-md p-8 rounded-2xl flex flex-col items-center gap-4;
}

.wpcf7-form .wpcf7-form-control-wrap{
    @apply w-full;
}

.wpcf7-form .wpcf7-text{
    @apply w-full rounded-3xl py-2 px-4 placeholder:text-gray-500 text-gray-900 shadow-lg;
}

.wpcf7-form .wpcf7-textarea{
    @apply w-full rounded-3xl py-2 px-4 h-36 min-h-[2.5rem] max-h-96 placeholder:text-gray-500 text-gray-900 shadow-lg;
}

.wpcf7-form .wpcf7-submit{
    @apply w-fit rounded-3xl py-2 px-4 bg-white text-indian-red shadow-lg font-medium transition-transform duration-300 hover:scale-110;
}

.wpcf7-form .wpcf7-not-valid-tip{
    @apply text-white ml-4;
}

.wpcf7-form .wpcf7-response-output{
    @apply !m-0 !rounded-3xl !border-2 !border-white !py-2 !px-4;
}

/* Large contact form 7 */
.wpcf7-form.large-form{
    @apply bg-transparent mx-auto max-w-2xl p-8 rounded-2xl flex flex-col items-center gap-4;
}

.wpcf7-form.large-form .wpcf7-form-control-wrap{
    @apply w-full;
}

.wpcf7-form.large-form .wpcf7-text{
    @apply w-full rounded-3xl border-2 border-desert-sand py-2 px-4 placeholder:text-gray-500 text-gray-900 shadow-lg;
}

.wpcf7-form.large-form .wpcf7-textarea{
    @apply w-full rounded-3xl border-2 border-desert-sand py-2 px-4 h-36 min-h-[2.5rem] max-h-96 placeholder:text-gray-500 text-gray-900 shadow-lg;
}

.wpcf7-form.large-form .wpcf7-submit{
    @apply mx-auto w-fit rounded-3xl border-2 border-desert-sand py-2 px-4 bg-white text-purple-navy shadow-lg font-medium transition-transform duration-300 hover:scale-110;
}

.wpcf7-form.large-form .wpcf7-not-valid-tip{
    @apply text-desert-sand ml-4;
}

.wpcf7-form.large-form .wpcf7-response-output{
    @apply !m-0 !rounded-3xl !border-2 !border-desert-sand !py-2 !px-4;
}

/* Newsletter */
.page-template-newsletter .tnp-field input{
    @apply w-full rounded-3xl border-2 border-desert-sand py-2 px-4 placeholder:text-gray-500 text-gray-900 shadow-lg;
}

.page-template-newsletter .tnp-submit{
    @apply mx-auto w-fit rounded-3xl border-2 border-desert-sand py-2 px-4 bg-white text-purple-navy shadow-lg font-medium transition-transform duration-300 hover:scale-110;
}

/* Hide RecaptchaV3 */
.grecaptcha-badge { 
    visibility: hidden;
}